In [1]:
import pyhdb
import pandas as pd

In [2]:
#load tables into hana and then into DF
#tables are T_LFT, T_MT then into T_TFT

connection = connection = pyhdb.connect(
    host="localhost",
    port=30015,
    user="SYSTEM",
    password=""
)

In [21]:
cursor = connection.cursor()
cursor.execute("SELECT * FROM SYSTEM.T_MT order by SR")
T_MT = pd.DataFrame(cursor.fetchall())

In [26]:
T_MT[:5]

   0                              1            2
0  1  17.19697941823057352195291969  productions
1  1  17.19697941823057352195291969       layout
2  1  17.19697941823057352195291969    including
3  1  17.19697941823057352195291969       2008r2
4  1  15.35748006232647566715598941        media

In [3]:
cursorTFT = connection.cursor()
cursorTFT.execute("SELECT * FROM SYSTEM.T_TFT order by SR")
T_TFT = pd.DataFrame(cursorTFT.fetchall())

In [4]:
T_TFT[:5]

,0,1,2,3,4,5,6,7,8,9,...,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664
0,35.0,34.0,30.0,28.0,28.0,22.0,17.0,17.0,17.0,17.0,...,None,None,None,None,None,None,None,None,None,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,None,None,None,None,None,5

In [5]:
cursorLFT = connection.cursor()
cursorLFT.execute("SELECT * FROM SYSTEM.T_LFT order by F")
T_LFT = pd.DataFrame(cursorLFT.fetchall())

In [7]:
T_LFT[:15]

       0              1
0      1         server
1     10  cabra4meswfd5
2    100         budget
3   1000         device
4   1001         bitmap
5   1002         dolcic
6   1003            pid
7   1004            ole
8   1005       document
9   1006      payloadid
10  1007    copyreceipt
11  1008   po4500006365
12  1009          idocs
13   101             la
14  1010    directoryit