In [2]:
import pyhdb
import pandas as pd

In [2]:
#load tables into hana and then into DF
#tables are T_TFT, T_MT then into T_LFT

connection = connection = pyhdb.connect(
    host="localhost",
    port=30015,
    user="SYSTEM",
    password=""
)

In [21]:
cursor = connection.cursor()
cursor.execute("SELECT * FROM SYSTEM.T_MT order by SR")
T_MT = pd.DataFrame(cursor.fetchall())

In [26]:
T_MT[:5]

   0                              1            2
0  1  17.19697941823057352195291969  productions
1  1  17.19697941823057352195291969       layout
2  1  17.19697941823057352195291969    including
3  1  17.19697941823057352195291969       2008r2
4  1  15.35748006232647566715598941        media

[]